<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Belajar Vue - Intro to Vuejs</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">Belajar Vue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="">Beranda</a>
      </div>
    </div>
  </nav>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <img class="card-img-top" :src="product.image" :alt="product.title">
          </div>
        </div>
        <div class="col-md-7">
          <h2>{{ product.title }}</h2>
          <p>
            <div class="alert alert-success" role="alert" v-if="product.inventory > 10">Stok tersedia</div>
            <div class="alert alert-warning" role="alert" v-else-if="product.inventory > 0 && product.inventory < 10">
              Stok hampir habis
            </div>
            <div class="alert alert-danger" role="alert" v-else>Stok sudah habis</div>
          </p>
          <h5>Deskripsi:</h5>
          <p>
            <ul class="list-group">
              <li v-for="desc in product.description" class="list-group-item">{{ desc }}</li>
            </ul>
          </p>
          <p>
            <ul>
              <li v-for="variant in product.variants" :key="variant.id">{{ variant.color }}</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="main.js"></script>
</body>

</html>
